ion-content {
    --background: url('/assets/background.png');
}

ion-label{
    font-size: 24px;
    font-weight: 570;
    font-family: Century Gothic;
}

.ion-padding{
    font-family: Century Gothic;
    padding-left: 10%;
    padding-right: 10%;
}