ion-content{
    --background: url('/assets/background.png');
    font-family: century gothic;
  }
  
ion-item{
    --border-radius: 20px;
    --background: transparent;
    font-family: century gothic;
    font-size: 14px;
  }
  
  ion-icon{
    margin-top: 26px;
  }

  .input{
    font-family: century gothic;
  }
  ion-button{
    font-family: century gothic;
  }
  
  ion-footer{
    --background: transparent;
  }

  ion-label{
    font-family: century gothic;
  }
  .login{
    text-align: center;
    font-size: 13px;
    font-family: century gothic;
  }

  .tnc{
    font-size: 13px;
  }

  .chk{
    width: 20px;
    height: 20px;
  }

  .font-tnc{
    margin-top:50px;
  }