<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="me"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="card">
    <div>
      <img src="assets/about.jpg" alt="">
    </div>
    <br>
    <div class="contentt">
      <img src="assets/location.png" alt="location" width="7%">
      <p>Puchong, Selangor, Malaysia,
        <br> 47170 Puchong
        <br>3.04358, 101.62028.</p>
      <br>
      <img src="assets/phone.png" alt="phone" width="7%">
      <p>011-1616 2090</p>
      <br><img src="assets/clock (2).png" alt="clock" width="7%">
      <p>Open 24 hours</p>
    </div>
  </div>
</ion-content>