<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="show-back-button"></ion-back-button>
    </ion-buttons>
    <ion-title>Update Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <br>
  <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="product.name" required></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-input type="string" [(ngModel)]="product.desc" required></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-select value="General" okText="OK" cancelText="dismiss" [(ngModel)]="product.category">
      <ion-select-option value="Food">Food</ion-select-option>
      <ion-select-option value="Drink">Drink</ion-select-option>
      <ion-select-option value="Fruit">Fruit</ion-select-option>
      <ion-select-option value="Vegetable">Vegetable</ion-select-option>
      <ion-select-option value="Others">Others</ion-select-option>
    </ion-select>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Price (RM)</ion-label>
    <ion-input type="number" [(ngModel)]="product.price" required></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-label position="floating">Quantity</ion-label>
    <ion-input type="number" [(ngModel)]="product.stock" required></ion-input>
  </ion-item>
  <br>
  <ion-button type="submit" color="success" expand="block" shape="round" (click)="updateProduct(product)">
    UPDATE PRODUCT
  </ion-button>
</ion-content>