ion-content{
    --background: url('/assets/bgadmin.png');
    font-family: century gothic;
    // overflow-y: hidden;
  }

  ion-list{
    //   text-align: center;
    border-radius: 30px;
    // --background: transparent;
    
    font-weight: 500;
    background-color: #ffffff;
    font-family: century gothic;
    // background: rgb(76, 175, 80);
    opacity: 0.8;
    // color: white;
    // font-family: 'century gothic';
  }

  ion-row{
    font-size: 13px;
    font-family: century gothic;
  }
  h3{
    font-weight: 400;
    font-family: century gothic;
  }

  .text-color label{
    // margin: 5%;
    font-weight: bold;
    color: #000000;
    font-family: century gothic;
  }

  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    font-family: century gothic;
    }

  .show-background {
    border-style: none;
    background: linear-gradient(to right top, #f07f5f, #f79c5d, #f8b961, #f4d66f, #ecf287);
  }

  ion-title{
    width: fit-content;
    margin-left: -18px;
  }

  h4{
    font-family: century gothic;
    text-align: center;
    font-family: 500;
  }
  // ion-fab-button{
    
  //   color: linear-gradient(to right top, #f07f5f, #f79c5d, #f8b961, #f4d66f, #ecf287);
  //   // background: linear-gradient(to right top, #fe6b42, #ff8b2b, #ffac05, #f7cd00, #e1ee02);
  // }
  ::-webkit-scrollbar{
    display: none;
    // overflow-y: hidden;
  }