ion-content{
    --background: url('/assets/bgadmin.png');
    font-family: century gothic;
    
  }

  ion-title{
    width: fit-content;
    margin-left: -23px;
  }

  ion-item{
    //   text-align: center;
    border-radius: 50px;
    // --background: transparent;
    // font-weight: 600;
    background-color: #ffffff;
    // background: rgb(76, 175, 80);
    opacity: 0.75;
    font-family: century gothic;
    // color: white;
    // font-family: 'century gothic';
  }

  .text-color label{
    // margin: 5%;
    font-weight: bold;
    color: #000000;
    font-family: century gothic;
  }

  .text-color{
    font-family: century gothic;
  }

  ion-button{
    font-family: century gothic;
  }

  ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    font-family: century gothic;
  }