<ion-content>
  <!-- <div class="scroller" no-bounce> -->
  <div class="ion-padding">
  <h1>Terms and Condition</h1>
  <br>
  <p>Please read the terms and conditions (“Terms and Conditions”) set out below carefully before ordering any Goods or
    Services listed on www.smartruncit.com.my. By visiting our Website, registering an account with us or by ordering
    any Goods or Services from this Website, or by phone you agree that you have read and understand these Terms and
    Conditions and that you accept and agree to be bound by them.

    We reserve the right to modify or update our Terms and Conditions at any time without prior notice. It is your
    responsibility to check for any changes in our Terms and Conditions. A breach or violation by you of any of our
    Terms and Conditions will result in the immediate termination of provision of services to you without further
    reference to you.</p>
    <br>
    <p><b>1. Introduction</b> </p>
    <p>SR Smart Trading Enterprise (“SmartRuncit”) (SA0542673-H) is a sole proprietorship and existing under the laws of
      Malaysia, with its business address at No.3602, Lot, Jalan Meranti 1, Kampung Pulau Meranti, 47120 Puchong,
      Selangor (“the Company”), the owner and operator of www.smartruncit.com.my (“SmartRuncit”).

      The Company is engaged in the business of building, operating and managing an online marketplace with its trade
      name “SmartRuncit” that provides personal shoppers to purchase your ordered Goods from the Participating Retailers
      and provide delivery service to your doorstep on www.smartruncit.com.my, an Internet domain property registered
      under the Company’s name.

      SmartRuncit provides a Platform to enable the registered Customer to place, accept, conclude, manage and fulfil
      orders for the sale and purchase of Goods and/or Services online via this Website. THE PARTIES HEREBY AGREE AS
      FOLLOWS:</p>
      
    <p><b>2. Definitions</b> </p>
    <p>“Agreement” refers to this Terms and Conditions, the Privacy Policy, any order form, and the payment instructions
      provided;
      “Checkout” refers to completion of the cart checkout process on our App/Website that results in an Order
      confirmation;
      “Customer” refers directly to SmartRuncit to place an Order on the Website;
      “Delivery” refers to goods and any form of delivery service, which are provided by the Company;
      “Goods” refers to the consumer products which are on retail sale by the Participating Retailer, including but not
      limited to groceries and daily needs for consumer use and / or consumption and which are made available through
      its Premises. Notwithstanding the above, SmartRuncit shall have absolute discretion not to include any such
      identified Goods on the Platform at its sole and absolute discretion;
      “Independent Contractor” refers to any third party individual rider or rider company engaged by the Company to
      provide delivery service;
      “Opening Hours” refers to any time and day during which a Premise of the Participating Retailer is open to the
      general public;
      “Order” refers to confirmed shopping cart submitted by you upon checkout from the Website;
      “Participating Retailer” refers to a third party, which is cooperating with SmartRuncit to supply the Goods and
      Services (if any);
      “Platform” refers to an online market place known as www.smartruncit.my, an internet domain property registered
      under the Company’s name, for the Customer to purchase groceries from different Participating Retailer via the
      Website;
      “Privacy Policy” refers to the agreement as displayed on this site, governing how we collect and store data;
      “Premise” or “Premises” refers to the outlet or store where the Participating Retailer keeps and sells the
      consumer products to the public;
      “Service” or “Services” refers to services which we may supply and you may request from our Website including such
      services provided by third party service providers such as payment gateway services;
      “Service Fee” refers to the delivery charges and shopper fees that you will be charged upon placing an Order with
      SmartRuncit;
      “Total Bill” refers to the total price for Delivery, Goods or Services ordered, including any other charges or
      taxes including but not limited to Sale and Services Tax (“SST”), government duties and other levies imposed at
      any time by the government that shall be charged to you upon completion of your Delivery;
      “We”, “Us”, “Our”, “SmartRuncit”, “the Company”, all reference to the Company;
      “Website” refers to the online market place owned and operated by the Company and known as “SmartRuncit”, an
      e-commerce Platform having its domain at www.SmartRuncit.my or any subdomain thereof on which we offer our Goods
      and Services;
      “You”, “Your”, “Yours” refer to you, the individual or representative of corporate body accessing this Website or
      App to order Goods and Services from the Website or App or any other way to order from SmartRuncit.
    </p>
    <p><b>3. Account</b> </p>
    <p>
      Registration of Account
      
      Before placing an Order from SmartRuncit, you are required to provide a valid e-mail address and create your own password for the purpose of registration of an account with us. You must ensure that you keep the combination of these details secure and do not provide this information to a third party.
      Only one (1) SmartRuncit account is allowed for each registered phone number. Additional accounts may be allowed at our discretion. Furthermore, the number of devices you may use to log into your SmartRuncit account may also be subject to limitations.
      User information
      
      When using our Website and/or App, you agree to provide us with the correct required information and warrant that:
      
      the provided information is correct and complete and shall inform us immediately of any changes of the provided information;
      the credit or debit card details that you provide are for your own credit or debit card and that you have sufficient funds to make the payment;
      You are eighteen (18) years old and above; and
      The Goods and/or Services is for your own consumption/use and strictly prohibited for resale.
      Suspension / Termination of Account
      
      SmartRuncit has absolute discretion and rights to refuse registration of any account and to terminate the registration of any account for any reason whatsoever.
      
      We consider the following actions as wrongful use of SmartRuncit account, including but not limited to:
      
      Usage of account for any illegal activities in accordance to the laws of Malaysia; and/or
      Usage of account for commercial or non-domestic purposes; and/or
      Usage of multiple SmartRuncit accounts for purchases related to SmartRuncit promotions; and/or
      Creation of account on behalf of another person or entity without their authorization.
      In the event that: (i) our systems detect multiple accounts being linked to your phone number; (ii) wrongful use of SmartRuncit accounts as detailed in Clause 3.5; (iii) payment methods that we deem suspicious; (iv) multiple instances of payment failure; or (v) any of the information given is incomplete, invalid, false or wrongful, we reserve the right to:
      
      Cancel any of your current or future Order;
      Immediately terminate your access to our Services without further reference to you;
      Suspend your SmartRuncit account and/or payment accounts indefinitely; and
      Immediately cease all further communication with you.
      Non Liability
      
      We will take all reasonable care, in so far as it is in our power to do so, to keep the details of your Order and payment secure, but in the absence of negligence on our part we shall not held liable for any loss you may suffer if a third party procures unauthorized access to any data you provide when accessing or place an Order from the Website.
      We shall not be held liable to you for any losses (monetary or otherwise), liabilities, costs, damages, charges or expenses arising out of the actions or consequences stated in Clause 3.6.</p>
  
      <br>
      <ion-button [routerLink]="['/signup']" expand="block"  color="success" shape="round">
        Back
      </ion-button>
    </div>

  <!-- </div> -->


</ion-content>